<div class="sidebar">

    <!-- About section with name and profile pic -->
    <div class="sidebar-about">
        <img src="{{ site.baseurl }}public/images/profile_pic.png" alt="Profile Pic" class="sidebar-avatar">
        <h1 class="sidebar-about-name">
            Nicolas Audinet de Pieuchon
        </h1>
        <p class="sidebar-about-description">
            Causality, NLP, Haskell
        </p>
    </div>

    <!-- Navigation to various pages -->
    <nav>
        {% for node in site.pages reversed %}
            {% if node.layout == "page" %}
                {% assign if page.url == node.url %}
            <a class="sidebar-nav-item {% if page.url == node.url %}active{% endif %}" href="{{ node.url }}">
                {{ node.title }}
            </a>
            {% endif %}
        {% endfor %}
    </nav>

    <!-- Footer with copyright -->
    <p class="sidebar-footer">
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>

</div>
