/* Styles for:
 * - Body resets
 * - Container
 * - Pages
 * - Posts
 * - Side bar
 * - Top bar (for blog posts)
 */

/* Global variable definitions */
:root {
    --sidebar-width: 25rem;
    --max-width: 40rem;
    --sidebar-color: #306b40;
    --main-font-size: 20px;
}


/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: var(--main-font-size);
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    color: #515151;
    background-color: #fff;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
    color: #268bd2;
    text-decoration: none;
}

a strong {
    color: inherit;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover, a:focus {
    text-decoration: underline;
}

/* Headings */
h1, h2 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    color: var(--sidebar-color);
}


/* Lists */
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}

/* Code */
code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

/* Pages (anything displayed next to the sidebar) */

.page {
    /* padding */
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* margin */
    margin-left: calc(var(--sidebar-width) + (100% - var(--sidebar-width) - var(--max-width)) / 2);
    max-width: var(--max-width);
}

.about-title {
    font-size: 2.5rem;
    color: var(--sidebar-color);
}

.about-email {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.5);
}

/* Posts (any blog post with the top bar) */

.post {
    max-width: var(--max-width);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

/* Blog post or page title */
.post-title,
.post-title a {
    color: var(--sidebar-color);
    margin-top: 0;
    font-size: 2rem;
}

/* Meta data line below post title */
.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
    font-size: 1.25rem;
}



/* Sidebar */

.sidebar {
    /* size and shape */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    /* colors */
    color: #fff;
    background-color: var(--sidebar-color);
    /* text alignment */
    text-align: center;
    /* flexbox settings */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-avatar {
    width: 70%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.sidebar-about-name {
    color: #fff;
    margin-top: 1em;
    font-size: 2rem;
    font-weight: normal;
}

.sidebar-about-description {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    font-size: 1.5rem;
}

.sidebar-nav-item {
    display: block;
    line-height: 1.5;
    font-size: 2rem;
    color: #fff;
}

a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
    text-decoration: underline;
}

.sidebar-nav-item.active {
    font-weight: bold;
}

.sidebar-footer {
    font-size: 0.75rem;
    text-align: center;
}


/* Topbar
*
* Top bar navigation for blog posts
*/

.topbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #202020;
    color: rgba(255, 255, 255, .5);
}

.topbar-nav-item {
    display: block;
    line-height: 1.75;
    font-size: 1.5rem;
}

.topbar-nav-item a {
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a.topbar-nav-item:hover,
a.topbar-nav-item:focus {
    text-decoration: underline;
}

.topbar-padding {
    padding-top: 3rem;
}
