<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> $title$</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/myStyle.css" />
    </head>
    <body class="body">

        $partial("templates/body.html")$

        <script src="js/bootstrap.min.js" ></script>

        <!-- Script for sticky sidebar -->
        <script src="js/stickyfill.min.js" ></script>
        <script type="text/javascript" >
            var elements = document.querySelectorAll('.sticky');
            Stickyfill.add(elements);
        </script>
    </body>
</html>
