---
layout: default
---


<ul class="topbar-nav">
    <li class="topbar-nav-item">
        <a href="{{ site.baseurl }}">
            Nicolas Audinet de Pieuchon
        </a>
    </li>
    <li class="topbar-nav-item">
        <a href="{{ site.baseurl }}about">
            About
        </a>
        <a href="{{ site.baseurl }}blog">
            Blog
        </a>
    </li>
</ul>

<div class="topbar-padding">

</div>

<div class="post container">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}
</div>
