---
layout: default
---

<ul class="topbar-nav">
    <li class="topbar-nav-item">
        <a href="{{ site.baseurl }}">
            Nicolas Audinet de Pieuchon
        </a>
    </li>
    <li class="topbar-nav-item">
        <a href="{{ site.baseurl }}">
            About
        </a>
        <a href="{{ site.baseurl }}posts">
            Posts
        </a>
    </li>
</ul>

<div class="topbar-padding">

</div>

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}
    <hr>
    <p>If you have feedback or find any mistakes, feel free drop an issue
        <a href="https://github.com/nicaudinet/nicaudinet.github.io">
            on Github
        </a>
        or to email me at
        <a href="mailto:nicolas.audinet@chalmers.se">
            nicolas.audinet@chalmers.se
        </a>
        !
    </p>
</div>
